body {
  background-color: black;
}
main {
  height: 11in;
  width: 8.5in;
  margin: 5em;
}

@page {
  size: A4;
  /* Supresses system print dialog padding */
  margin: 0;
}
@media print {
  body,
  main {
    background-color: red;
    margin: 1px;
    padding: 0;
  }
}
